footer.footer-basic-centered
  p.footer-company-motto
    a(href='#', title='Facebook')
      i.fa.fa-facebook.fa-2x.footer-icon(aria-hidden='true')
    a(href='#', title='Twitter')
      i.fa.fa-twitter.fa-2x.footer-icon(aria-hidden='true')
    a(href='#', title='Instagram')
      i.fa.fa-instagram.fa-2x.footer-icon(aria-hidden='true')
  p.footer-links
    a(href='index.html') Home
    a(href='stories.html') Stories
    a(href='disclaimer.html') Disclaimer
    a(href='disclaimer.html#contact') Contact
  p.footer-company-name
    img.footer-logo(src='images/vectorlogowhite.png')
