// Scripts
script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js')
//if lte IE 8
  script(src='assets/js/ie/respond.min.js')
script(src='/js/main.js')
