//Remember to start links with a "/" so it works with the home route and not the current route.
//Example if the current route is '/story' sa link(css/style.css) will try to locate the file in '/story/css/style.css'

link(rel="stylesheet" href="/css/style.css")
link(rel="stylesheet" href="/css/news.css")
link(rel="stylesheet" href="/css/stories.css")
link(rel="stylesheet" href="/css/footer.css")


