extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='title') Story Title:
      input#first_name.form-control(type='text', placeholder='Title of Story' name='title' required='true' value=(undefined===story ? '' : story.title) )
      label(for='featured_picture') featured_picture:
      input#family_name.form-control(type='text', placeholder='Featured Picture' name='family_name' required='true' value=(undefined===author ? '' : author.family_name))
    div.form-group
      label(for='date_written') Date Written:
      input#date_of_birth.form-control(type='date', name='Date Written' value=(undefined===author ? '' : story.date_of_birth_yyyy_mm_dd) )
    div.form-group
      label(for='body_content') Content:
      input#body_content.form-control(type='textarea', name='body_content', rows='30', cols = '10', value=(undefined===author ? '' : story.body_content) )
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg
        
