extends layout

block content
 .news-header
  h2 Places 
   img(src='images/streetsicon.jpg')
 #ajaxNews.square-layout.square-skin--news.square-skin--large.grid.grid--full
  .grid__item.desk-one-quarter.lap-and-up-one-quarter.palm-one-half
   .square.square--img.square--3
     span.square__bg(style="background-image: url('images/shefworld.jpg');")
      .square__inner
       .square__inner__content
        h3
          | Sheffield: A City of the World
        .square-details
          span.name-divider  Abhimanyu Yadav 
          time(datetime='2016-11-08  ') Friday 27 October 2017
       a.link-wrap(aria-label='Sheffield: A City of the World', href='worldcitysheff.html') Read More
 - var featured = [1,2,3,4,5,6];
 var story = [1,2,3,4,5,6,7,8,9,10,11,12,13];

  for(x = 0, y = 0; y < featured.length; x++) {
  console.log('story ' + story[x]);
  x++;
  console.log('story ' + story[x]);
 
  console.log('featured ' + featured[y]);
  y++;
  if (featured[y]){
   console.log('featured ' + featured[y]);
   console.log('story ' + story[x]);
   x++;
   console.log('story ' + story[x]);
   y++
  }

 
}




