extends layout

block content
 .news-header
  h2 Places 
   img(src='images/streetsicon.jpg')
 #ajaxNews.square-layout.square-skin--news.square-skin--large.grid.grid--full
  include mixins/gallery 
 
