doctype html
html(lang='en')
  head
    include partials/meta
    include partials/stylesheets
  div
    include partials/scripts
    include partials/navbar
    block content
    include partials/footer
    