mixin article(title)
  - var values = [];
  ul
    each val in values.length ? values : ['There are no values']
      li= val
      


script
  for(x = 0, y = 0; y < featured.length; x++) {
   console.log('story ' + story[x]);
     x++;
   console.log('story ' + story[x]);
 
   console.log('featured ' + featured[y]);
   y++;
   if (featured[y]){
    console.log('featured ' + featured[y]);
    console.log('story ' + story[x]);
    x++;
    console.log('story ' + story[x]);
    y++
   }

 
  }
+article